.mainWrap{
    width: 80%;
    height: 100%;
    background-color: rgba(63, 108, 255, 0.783);
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 440px) {
        width: 100%;
    }
}
.inputsCon{
    width: 50%;
    height: 80%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    @media screen and (max-width: 440px) {
        width: 90%;
    }
}
.up{
    width: 95%;
    height: 12%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.up input{
    width: 75%;
    height: 90%;
    border: 3px solid rgb(91, 91, 228);
    border-radius: 8px;
    outline: none;
    font-size: 20px;
    @media screen and (max-width: 440px) {
        width: 70%;
    }
}

.up button{
    padding: 25px 35px;
    background-color: rgb(62, 62, 236);
    border-radius: 8px;
    font-size: 25px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    @media screen and (max-width: 425px) {
        padding: 15px 25px;
    }
}
.up button:hover{
    animation: animate infinite 5s;
}
@keyframes animate{
    0%{
        transform: translateY(10%);
        background-color: aqua;
    }
    20%{
        transform: translateX(0%);
        background-color: pink;
    }
    40%{
        transform: translateY(-10%);
        background-color: purple;
    }
    60%{
        transform: translateX(10%);
        background-color: yellowgreen;
    }
    80%{
        transform: translateY(10%);
        background-color: green;
    }
}
.down{
    width: 95%;
    height: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}
.downCon{
    width: 95%;
    height: 15%;
    background-color: rgba(190, 225, 237, 0.758);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    padding-inline: 10px;

}
.downCon input{
   width: 20px;
   height: 20px;
}
.downCon p{
    width: 85%;
    height: 100%;
    background-color: transparent;
    border-radius: 8px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.rmv{
    width: 10%;
    height: 75%;
    background-color: rgb(34, 34, 217);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.rmv img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
